
<h1>About Us</h1>
<div class="about">
    <p class="para">
        Welcome to Edu Consultant! We believe education is the cornerstone of growth. Our mission is to 
        enhance the educational experience through tailored consulting for students, educators, and 
        institutions. With a team of experienced professionals, we provide strategic insights and innovative 
        solutions to help our clients achieve their goals.
        We understand the challenges of today’s educational landscape and are committed to fostering 
        collaboration and continuous improvement. At Edu Consultant, we are dedicated to creating an 
        inclusive environment where every learner can thrive. Join us in inspiring and shaping the future of education!
    </p>
    <p class="para">Join us in our journey to inspire, innovate, and impact the future of education!</p>
</div>  
<div>
    <img src="../../../../assets/images/about.png" class="image">
</div> 

