<div class="register-container">
   <div class="main-content">
      <div class="outer-container">
         <div class="inner-container">
               <div class="image-container">
                  <img src="../../../../assets/images/Admin.jpg" class="image">
                  <h4 (click)="admin()">Admin</h4>
               </div>
               <div class="image-container">
                  <img src="../../../../assets/images/parent.jpg" class="image">
                  <h4 (click)="parent()">Parent</h4>
               </div>
               <div class="image-container">
                  <img src="../../../../assets/images/student.png" class="image">
                  <h4 (click)="student()">Student</h4>
               </div>
               
            </div> 
         </div> 
   </div>
</div>
   


