<div class="contact-container">
    <div class="main-content">
        <h2>Contact Us</h2>
        <p class="para">Have questions? We have answers. Let's get in touch!</p>
        <div class="contact">
            <h3>Send Message</h3>
            <div class="contact-details">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <input type="tel" placeholder="Phone Number" maxlength="10">
                <input type="text" placeholder="Subject">
            </div>
            <textarea placeholder="Message" id="message" maxlength="200"></textarea>
            <div>
                <button class="button">Send <img src="../../../../assets/images/send.png" alt="send image" class="send-image"></button>   
            </div>
        </div>
        
        <div class="contact-details-below">
            <div class="contact-item">
                <h4>📍Address</h4>
                <p>101 Oak Lane, Newyork, 10001</p>
            </div>
            <div class="contact-item">
                <h4>📞Phone</h4>
                <p>+1 212-555-1234</p>
            </div>
            <div class="contact-item">
                <h4>📧Email</h4>
                <p>eduelevate&#64;gmail.com</p>
            </div>   
        </div>
    </div>
</div>
    