.container{
    width:600px;
    height:500px;
    background-color:lightgreen;
    align-content:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*margin-top:80px;*/
    margin-top:30px;
    padding:20px;
    border-radius:100px;
    
}
.form{
    font-size:20px;
    padding-left:40px;
    padding-top:20px; 
    
}
input{
    padding-left:7px;
    margin-left:15px;
    border-radius:10px;
    margin-bottom:5px;
    height:45px;
    width:330px;
}
.container h1{
    text-align:center;
}
.button{
    display:block;
    margin:0 auto;
    margin-top:6px;
    border-radius:8px;
    background-color:coral;
    width:100px;
    padding:3px;
    
}
.para{
    text-align:center;
    padding-top:8px;
    font-size:15px;
}
.image{
    height:198px;
    width:100%;    
}
.navigate{
    cursor:pointer;
    color:black;
    text-decoration:none;
}
.navigate:hover{
    color:blue;
}