<div class="home-container">
    <div class="main-content">
        <div>
            <p class="header">EDUElevate</p>
            <div id="nav-container">
                <nav id="content">
                    <a>Home</a>
                    <a routerLink="about" routerActiveLink="active">About Us</a>
                    <a>Product</a>
                    <a routerLink="contact" routerActiveLink="active">Contact</a>
                    <a>Feedback</a> 
                </nav>  
            </div>
        </div>
        <div class="home">
            <h1 class="glow">EXPLORE.CREATE.ACHIEVE</h1>
            <h2>Welcome to EduElevate </h2>
            <h6>"Your success journery begins right here"</h6>
            <button class="button" (click)="getstarted()">Get Started➡️</button>
        </div>
    </div>
</div>






