<div>
    <p class="header">EDU Consultant</p>
    <div id="nav-container">
        <nav id="content">
            <a>Home</a>
            <a routerLink="about" routerActiveLink="active">About Us</a>
            <a>Productsss</a>
            <a>Contact</a>
            <a>Feedback</a> 
        </nav>  
    </div>
</div>
<div class="home">
    <h1>Welcome to EDU Consultant</h1>
    <h6>"Your success journery begins right here"</h6>
    <button class="button" (click)="getstarted()">Get Started➡️</button>
</div>
<img src="../../../../assets/images/home-transformed.jpeg" class="image">




