<div class="container">
   <h1 title="title">Register</h1>
    <form class="form">
        <table>
            <tr>
                <td><label>FullName</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><label>Email Address</label></td>
                <td><input type="email"></td>
            </tr>
            <tr>
                <td>Contact Number</td>
                <td><input type="tel"></td>
            </tr>
            <tr>
                <td><label>Date of Birth</label></td>
                <td><input type="date"></td>
            </tr>
            <tr>
                <td><label>Course</label></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="password"></td>
            </tr>
        </table>
        <button class="button">Sign Up</button>
    </form>
    <p class="para">Already Registered?<a class="navigate" (click)="login()">Click here to login</a></p>
</div>
<img src="../../../../assets/images/home-transformed.jpeg" class="image">
